<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="conio" connectionString="Data Source=103.120.176.195; Integrated Security=false; Initial Catalog= Flora; uid=sa; Password=Sve4R36qnZr#kNs6f" providerName="System.Data.MySqlClient" />-->
   <add name="conio" connectionString="Data Source=103.120.176.195; Integrated Security=false; Initial Catalog= floral_india_db; uid=floral_db_main_user; Password=wG3n6m1#" providerName="System.Data.MySqlClient" />
   <!-- <add name="conio" connectionString="Data Source=localhost; Integrated Security=false; Initial Catalog= floral_india_db; uid=root; Password=" providerName="System.Data.MySqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="rootHost" value="https://smoke2.floralindia.com/" />
    <add key="EmailSendingID" value="hosting@floralindia.com" />
    <add key="EmailSendingCode" value="%jG1u7k7" />
    <add key="SmsUrl" value="https://smshorizon.co.in/api/sendsms.php?user=" />
    <add key="SmsUserKey" value="FLRL" />
    <add key="SmsApiKey" value="XWxIQZDufocr4fqBMWsw" />
    <add key="SmsSenderID" value="FLRLIN" />
    <add key="DayLimit1" value="5" />
    <add key="DayLimit2" value="10" />
    <add key="DayLimit3" value="2" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation strict="false" explicit="true" targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.webServer>

    <!--<rewrite>
      <rules>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?case={R:1}&amp;countryCode={R:2}&amp;subOfMenu={R:3}&amp;ProductCategoryID={R:4}" />
        </rule>
        <rule name="ListingPage" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;MenuName={R:3}&amp;SubMenuName={R:4}&amp;subOfMenu={R:5}&amp;ProductCategoryID={R:6}" />
        </rule>
        <rule name="NeedToday" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;MenuName={R:3}&amp;list-type={R:4}&amp;SubMenuName={R:5}&amp;subOfMenu={R:6}&amp;ProductCategoryID={R:7}" />
        </rule>
        <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;list-type={R:3}" />
        </rule>
        <rule name="ProductPage" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;ProductName={R:3}&amp;ProductCategoryID={R:4}&amp;ProductID={R:5}" />
        </rule>
        <rule name="SingleRoute" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?case={R:1}" />
        </rule>
        <rule name="HttpToHttps" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>-->
        <security>
            <requestFiltering>
                <requestLimits
                    maxAllowedContentLength="104857600"
                />
            </requestFiltering>
        </security>
        <!--<rewrite>
            <rules>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?case={R:1}&amp;countryCode={R:2}&amp;subOfMenu={R:3}&amp;ProductCategoryID={R:4}" />
                </rule>
                
                <rule name="ListingPage" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;MenuName={R:3}&amp;SubMenuName={R:4}&amp;subOfMenu={R:5}&amp;ProductCategoryID={R:6}" />
                </rule>
				<rule name="NeedToday" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;MenuName={R:3}&amp;list-type={R:4}&amp;SubMenuName={R:5}&amp;subOfMenu={R:6}&amp;ProductCategoryID={R:7}" />
                </rule>
                <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;list-type={R:3}" />
                </rule>
                <rule name="ProductPage" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?countryCode={R:1}&amp;case={R:2}&amp;ProductName={R:3}&amp;ProductCategoryID={R:4}&amp;ProductID={R:5}" />
                </rule>
                <rule name="SingleRoute" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?case={R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>-->
    </system.webServer>
  <system.codedom>
    <!--<compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>-->
  </system.codedom>
</configuration>
<!--ProjectGuid: 5bd3ee2c-f255-48dc-963a-e7407c0f9d4e-->