.bg-white{
    background:$white !important;
}

.color-white{
    color:$white !important;
}

.color-black{
    color:$black !important;
}

.primary-dark{
    color:$primary-dark-color !important
}

.secondary-color{
    color:$secondary-color-dark3 !important
}

.color-grey-dark {
    color: $grey-dark2 !important
}

.color-grey-dark2 {
    color: $grey-dark-3 !important
}

.color-secondary3{
    color:$secondary-color-dark2 !important;
}

.grey-bg{
    background-color: $grey-light;
}