@font-face {
    font-family: 'fertigo_proregular';
    src: url('./../fonts/Fertigo_PRO-webfont.woff2') format('woff2'), url('./../fonts/Fertigo_PRO-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}