$primary-font: 'Mukta', sans-serif;
$primary-font-a:'Lato', sans-serif;
$secondary-font: 'fertigo_proregular', sans-serif;
$secondary-font-a:'Poppins', sans-serif;


$font-nano:8px;
$font-micro: 10px;
$font-mini: 12px;
$font-medium: 14px;
$font-regular: 16px;
$font-large: 18px;
$font-big: 20px;
$font-bigger:22px;
$font-super:24px;

//shine effect
$duration: 5s;
$text-color: rgba(238, 57, 138, 0.8);
$bgr-color: #333;
//shine effect

$black:#000000;
$white:#ffffff;
$flora-black:#161616;
$danger:#ff4a4a;
$positive: #f4eba8;
$grey: #e7e5e6;
$grey-light:#f9f9f9;
$grey-dark: #777777;
$grey-dark2: #444444;
$grey-dark-3:#808080;
$grey-dark-4: #a0a0a0;
$grey-dark-5: #727471;
$silver:#eeeeee;
$silver-light:#efefef;
$silver-light2: #e0e0e0;
$silver1:#dddddd;
$silver2:#cccccc;
$silver3: #dee2e6;
$sliver4: #f2f2f2;
$primary-color:#f574ad;
$primary-color-light: #faaac3;
$primary-color-light: #fdb8cb;
$primary-color-light-a: #fbd9e9;
$primary-color-light-b: #fef3f8;
$primary-dark-color: #ee398a;
$secondary-color: #9fccaa;
$secondary-color-dark:#738434;
$secondary-color-dark2: #75b684;
$secondary-color-dark3: #39ae79;
$beige: #c7b299;
$choco: #613e16;
$orange: #f28147;
$fb: #3a5896;
$whatsapp: #00E676;
$pinterest: #C61D26;
$google: #DD4B39;
$baby-pink: 245, 235, 182;

$font-weight-100: 100;
$font-weight-300:300;
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600: 600;
$font-weight-700:700;

$screen-mob:480px;
$screen-tab-portrait:768px;
$screen-tab-landscape:1024px;
$screen-dekstop:1200px;
$screen-lg-destop:1600px;
$screen-xl-dekstop:1920px;