<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="conio" connectionString="Data Source=103.120.176.195; Integrated Security=false; Initial Catalog= Flora; uid=sa; Password=Sve4R36qnZr#kNs6f" providerName="System.Data.MySqlClient" />-->
    <!-- <add name="conio" connectionString="Data Source=103.120.176.195; Integrated Security=false; Initial Catalog= floral_india_db; uid=floral_db_main_user; Password=wG3n6m1#" providerName="System.Data.MySqlClient" />-->
    <!--<add name="conio" connectionString="Data Source=localhost; Integrated Security=false; Initial Catalog= floral_india_db; uid=root; Password=" providerName="System.Data.MySqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--<add key="rootHost" value="http://localhost/floralindia" />-->
    <add key="rootHost" value="https://smoke2.floralindia.com/" />
    <!--<add key="rootHost" value="https://floralindia.com/" />-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation strict="false" explicit="true" targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!--<machineKey validationKey="8EACD37960E66FCDE9F0B2EC6CD1C9A17E9FBBC2116DBDFF07F60E69A494D15790F86DD321E8068E5B42FC0B854D55ADA3BFB4130A11F574DE3216ADD09E3191" decryptionKey="5F3601BD9F6D7F13EFEA4227B4EDB5C1AEC27DD8A95DEA38EF6E62916DFC39FD" validation="SHA1" decryption="AES" />-->
  </system.web>
  <system.codedom>
    <!--<compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>-->
  </system.codedom>
</configuration>
<!--ProjectGuid: 5bd3ee2c-f255-48dc-963a-e7407c0f9d4e-->