$black:#000000;
$black1:#262626;
$black2: #1f1f1f;
$white:#ffffff;
$white2: #FAFAFA;
$theme1: #369FF2;
$theme2: #1a384c;
$red: #d9121f;
$red2:#da121f;
$pink: #f574ad;
$light-pink: #f574ad;
$light-blue: #effdff; 
$light-blue1:#e6eef3;
$light-blue2: #86bcd6;
$grey:#cccccc;
$grey1:#dddddd;
$silver:#777777;
$silver1:#444444;
$silver2:#e5e5e5;
$silver3: #f1f3f6;
$royal-blue: #1C2260; 
$beige:#D2BDA2;
$light-silver:#F3F3F3;
$light-silver1:#F1F1F1;
$blue:#506CBB;
$blue2: #1449AF;
$green:#00B47E;
$gold: #F3C72E;
$maroon:#892E2D;
$yellow:#FDFA90;
$baby-pink:#f6e8e8;
$product-bg:#F0FBFF;
$primary-dark-color: #ee398a;
$secondary-color-dark3: #39ae79;

$primary-font: 'Roboto', sans-serif;
$logo-font: 'fertigo_proregular', sans-serif;

$font-12:12px;
$font-14: 14px;
$font-16:16px;
$font-18: 18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-26:26px;
$font-28:28px;
$font-30:30px;

$font-weight-400:400;
$font-weight-500: 500;
$font-weight-700: 700;

$screen-1300:1300px;
$screen-1200:1200px;
$screen-1023:1023px;
$screen-767:767px;